Exploratory Data Analysis of the main features of the data and check the relationsships that hold between the variables and see which variables are important for our problem.

In [12]:
import pandas as pd
import mysql.connector

# MySQL-Verbindung herstellen
connection_params = {
    'host': 'localhost',
    'user': 'admin',
    'password': 'Criminal1234',
    'database': 'CriminalDataDB',
    'allow_local_infile': True
}

conn = mysql.connector.connect(**connection_params)
cursor = conn.cursor()

query = "SELECT * FROM Bevoelkerungsdichte bd JOIN Bevoelkerungsdaten bvd ON bd.Gemeindename = bvd.Gemeindename AND bd.Jahr = bvd.Jahr JOIN Einkommensdaten ed ON bd.BFS_NR = ed.BFS_NR AND bd.Gemeindename = ed.Gemeindename AND bd.Jahr = ed.Jahr JOIN Finanzvermoegen fv ON bd.BFS_NR = fv.BFS_NR AND bd.Gemeindename = fv.Gemeindename AND bd.Jahr = fv.Jahr JOIN Einbrueche en ON bd.BFS_NR = en.BFS_NR AND bd.Gemeindename = en.Gemeindename AND bd.Jahr = en.Jahr"
cursor.execute(query)

# Ergebnisse abrufen und in DataFrame laden
results = cursor.fetchall()
columns = [i[0] for i in cursor.description]
df = pd.DataFrame(results, columns=columns)

# Verbindung schließen
cursor.close()
conn.close()

# Nehmen wir an, df ist dein DataFrame
# Hier sind die Spalten mit Duplikaten
duplicated_columns = ['Gemeindename', 'Jahr', 'BFS_NR']

# Verwende die Methode loc, um die Duplikate zu entfernen und nur die ersten Instanzen zu behalten
df_unique = df.loc[:, ~df.columns.duplicated()]

# Ergebnis anzeigen
print(df_unique)

      BFS_NR  Gemeindename  Jahr  Einwohner_pro_Quadratkilometer  \
0        131      Adliswil  2010                          2113.8
1        131      Adliswil  2011                          2240.0
2        131      Adliswil  2012                          2307.3
3        131      Adliswil  2013                          2335.4
4        131      Adliswil  2014                          2356.5
...      ...           ...   ...                             ...
2208      70  Wasterkingen  2019                           142.1
2209     251     Weiningen  2017                           881.5
2210     231          Zell  2018                           463.6
2211     161      Zollikon  2022                          1714.5
2212     160       Zumikon  2021                          1020.8

      Einwohner 0-14 Jahre alt  Einwohner 15-29 Jahre alt  \
0                         2348                       2907
1                         2510                       3087
2                         2582                       3159
3                         2673                       3060
4                         2786                       2993
...                        ...                        ...
2208                        84                         80
2209                       723                        878
2210                       990                        928
2211                      2165                       1643
2212                       915                        756

      Einwohner 30-44 Jahre alt  Einwohner 45-59 Jahre alt  \
0                          3778                       3389
1                          4130                       3536
2                          4367                       3613
3                          4476                       3702
4                          4503                       3721
...                         ...                        ...
2208                         83                        135
2209                       1023                       1135
2210                       1246                       1427
2211                       2836                       3073
2212                        924                       1316

      Einwohner 60-74 Jahre alt  Einwohner 75-89 Jahre alt  \
0                          2652                       1324
1                          2747                       1375
2                          2753                       1419
3                          2738                       1455
4                          2777                       1465
...                         ...                        ...
2208                        142                         31
2209                        708                        264
2210                        919                        466
2211                       1959                       1519
2212                        883                        702

      Einwohner 90-104 Jahre alt  \
0                             89
1                             87
2                            104
3                            112
4                            136
...                          ...
2208                           5
2209                          29
2210                          41
2211                         264
2212                          88

      durchschnittliches_steuerbares_Einkommen_pro_Einwohner  \
0                                               61456.0
1                                               63839.0
2                                               62315.0
3                                               62808.0
4                                               62717.0
...                                                 ...
2208                                            60505.0
2209                                            65861.0
2210                                            54810.0
2211                                           139587.0
2212                                           137359.0

      Finanzvermoegen_pro_Einwohner  Einwohner  Einbruchdiebstahl_Total  \
0                            3710.0    16161.0                    135.0
1                            4014.0    16502.0                    148.0
2                            4597.0    17518.0                    116.0
3                            4701.0    18037.0                     93.0
4                            3717.0    18262.0                     83.0
...                             ...        ...                      ...
2208                        12199.0      560.0                      0.0
2209                         7691.0     4770.0                     23.0
2210                         3429.0     5939.0                     15.0
2211                        13327.0    13374.0                     60.0
2212                        12055.0     5587.0                     28.0

      Einschleichdiebstahl_Total  Einbruchdiebstahl_Versucht  \
0                           29.0                        53.0
1                           40.0                        57.0
2                           39.0                        47.0
3                           30.0                        35.0
4                           21.0                        27.0
...                          ...                         ...
2208                         0.0                         0.0
2209                         4.0                        13.0
2210                         2.0                         8.0
2211                        22.0                        30.0
2212                         7.0                         6.0

      Einschleichdiebstahl_Versucht  Einbruchdiebstahl_Vollendet  \
0                               1.0                         82.0
1                               1.0                         91.0
2                               0.0                         69.0
3                               1.0                         58.0
4                               1.0                         56.0
...                             ...                          ...
2208                            0.0                          0.0
2209                            0.0                         10.0
2210                            0.0                          7.0
2211                            6.0                         30.0
2212                            0.0                         22.0

      Einschleichdiebstahl_Vollendet
0                               28.0
1                               39.0
2                               39.0
3                               29.0
4                               20.0
...                              ...
2208                             0.0
2209                             4.0
2210                             2.0
2211                            16.0
2212                             7.0

[2213 rows x 20 columns]

In [13]:
directory = 'Cleaned_CSV_files'
current_directory = os.getcwd()

csv_path = os.path.join(current_directory, directory, 'EDA.csv')

# Create the directory if it doesn't exist
if not os.path.exists(os.path.join(current_directory, directory)):
    os.makedirs(os.path.join(current_directory, directory))

df_unique.to_csv(csv_path, index=False)
print(df_unique)

      BFS_NR  Gemeindename  Jahr  Einwohner_pro_Quadratkilometer  \
0        131      Adliswil  2010                          2113.8
1        131      Adliswil  2011                          2240.0
2        131      Adliswil  2012                          2307.3
3        131      Adliswil  2013                          2335.4
4        131      Adliswil  2014                          2356.5
...      ...           ...   ...                             ...
2208      70  Wasterkingen  2019                           142.1
2209     251     Weiningen  2017                           881.5
2210     231          Zell  2018                           463.6
2211     161      Zollikon  2022                          1714.5
2212     160       Zumikon  2021                          1020.8

      Einwohner 0-14 Jahre alt  Einwohner 15-29 Jahre alt  \
0                         2348                       2907
1                         2510                       3087
2                         2582                       3159
3                         2673                       3060
4                         2786                       2993
...                        ...                        ...
2208                        84                         80
2209                       723                        878
2210                       990                        928
2211                      2165                       1643
2212                       915                        756

      Einwohner 30-44 Jahre alt  Einwohner 45-59 Jahre alt  \
0                          3778                       3389
1                          4130                       3536
2                          4367                       3613
3                          4476                       3702
4                          4503                       3721
...                         ...                        ...
2208                         83                        135
2209                       1023                       1135
2210                       1246                       1427
2211                       2836                       3073
2212                        924                       1316

      Einwohner 60-74 Jahre alt  Einwohner 75-89 Jahre alt  \
0                          2652                       1324
1                          2747                       1375
2                          2753                       1419
3                          2738                       1455
4                          2777                       1465
...                         ...                        ...
2208                        142                         31
2209                        708                        264
2210                        919                        466
2211                       1959                       1519
2212                        883                        702

      Einwohner 90-104 Jahre alt  \
0                             89
1                             87
2                            104
3                            112
4                            136
...                          ...
2208                           5
2209                          29
2210                          41
2211                         264
2212                          88

      durchschnittliches_steuerbares_Einkommen_pro_Einwohner  \
0                                               61456.0
1                                               63839.0
2                                               62315.0
3                                               62808.0
4                                               62717.0
...                                                 ...
2208                                            60505.0
2209                                            65861.0
2210                                            54810.0
2211                                           139587.0
2212                                           137359.0

      Finanzvermoegen_pro_Einwohner  Einwohner  Einbruchdiebstahl_Total  \
0                            3710.0    16161.0                    135.0
1                            4014.0    16502.0                    148.0
2                            4597.0    17518.0                    116.0
3                            4701.0    18037.0                     93.0
4                            3717.0    18262.0                     83.0
...                             ...        ...                      ...
2208                        12199.0      560.0                      0.0
2209                         7691.0     4770.0                     23.0
2210                         3429.0     5939.0                     15.0
2211                        13327.0    13374.0                     60.0
2212                        12055.0     5587.0                     28.0

      Einschleichdiebstahl_Total  Einbruchdiebstahl_Versucht  \
0                           29.0                        53.0
1                           40.0                        57.0
2                           39.0                        47.0
3                           30.0                        35.0
4                           21.0                        27.0
...                          ...                         ...
2208                         0.0                         0.0
2209                         4.0                        13.0
2210                         2.0                         8.0
2211                        22.0                        30.0
2212                         7.0                         6.0

      Einschleichdiebstahl_Versucht  Einbruchdiebstahl_Vollendet  \
0                               1.0                         82.0
1                               1.0                         91.0
2                               0.0                         69.0
3                               1.0                         58.0
4                               1.0                         56.0
...                             ...                          ...
2208                            0.0                          0.0
2209                            0.0                         10.0
2210                            0.0                          7.0
2211                            6.0                         30.0
2212                            0.0                         22.0

      Einschleichdiebstahl_Vollendet
0                               28.0
1                               39.0
2                               39.0
3                               29.0
4                               20.0
...                              ...
2208                             0.0
2209                             4.0
2210                             2.0
2211                            16.0
2212                             7.0

[2213 rows x 20 columns]

Check data types and related information, such as the quantity of records in each column, whether the data is null, the type of data

In [15]:
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2213 entries, 0 to 2212
Data columns (total 20 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   BFS_NR                                                  2213 non-null   int64
 1   Gemeindename                                            2213 non-null   object
 2   Jahr                                                    2213 non-null   int64
 3   Einwohner_pro_Quadratkilometer                          2213 non-null   float64
 4   Einwohner 0-14 Jahre alt                                2213 non-null   int64
 5   Einwohner 15-29 Jahre alt                               2213 non-null   int64
 6   Einwohner 30-44 Jahre alt                               2213 non-null   int64
 7   Einwohner 45-59 Jahre alt                               2213 non-null   int64
 8   Einwohner 60-74 Jahre alt                               2213 non-null   int64
 9   Einwohner 75-89 Jahre alt                               2213 non-null   int64
 10  Einwohner 90-104 Jahre alt                              2213 non-null   int64
 11  durchschnittliches_steuerbares_Einkommen_pro_Einwohner  2213 non-null   float64
 12  Finanzvermoegen_pro_Einwohner                           2213 non-null   float64
 13  Einwohner                                               2213 non-null   float64
 14  Einbruchdiebstahl_Total                                 2213 non-null   float64
 15  Einschleichdiebstahl_Total                              2213 non-null   float64
 16  Einbruchdiebstahl_Versucht                              2213 non-null   float64
 17  Einschleichdiebstahl_Versucht                           2213 non-null   float64
 18  Einbruchdiebstahl_Vollendet                             2213 non-null   float64
 19  Einschleichdiebstahl_Vollendet                          2213 non-null   float64
dtypes: float64(10), int64(9), object(1)
memory usage: 345.9+ KB

*Einwohner nach Alter*: Die Standardabweichung in diesen Spalten kann hoch sein, da die Altersverteilung von Gemeinde zu Gemeinde stark variieren kann. Einige Gemeinden könnten eine grosse Anzahl von Einwohnern in bestimmten Altersgruppen haben, während andere Gemeinden möglicherweise eine gleichmässigere Verteilung aufweisen. Weiters kann es in ländlichen Regionen vermehrt eher hohe Altersgruppen haben.

*durchschnittliches steuerbares Einkommen pro Einwohner, Finanzvermoegen_pro_Einwohner*: Diese Spalten könnten Ausreisser enthalten. Einige Gemeinden könnten aufgrund spezifischer wirtschaftlicher Bedingungen oder demografischer Merkmale ungewöhnlich hohe oder niedrige Einkommens- und Vermögenswerte aufweisen.

Es kann auch interessant sein, die Beziehung zwischen dem Alter der Einwohner und ihren Einkommens- oder Vermögensniveaus zu untersuchen. Ältere Einwohner haben oft höhere Einkommens- und Vermögenswerte aufgrund ihres langjährigen Berufslebens und ihrer Ersparnisse, während jüngere Einwohner möglicherweise niedrigere Einkommensniveaus aufweisen, aber auch das Potenzial für zukünftiges Einkommen haben.

In [14]:
df_unique.describe()

,BFS_NR,Jahr,Einwohner_pro_Quadratkilometer,Einwohner 0-14 Jahre alt,Einwohner 15-29 Jahre alt,Einwohner 30-44 Jahre alt,Einwohner 45-59 Jahre alt,Einwohner 60-74 Jahre alt,Einwohner 75-89 Jahre alt,Einwohner 90-104 Jahre alt,durchschnittliches_steuerbares_Einkommen_pro_Einwohner,Finanzvermoegen_pro_Einwohner,Einwohner,Einbruchdiebstahl_Total,Einschleichdiebstahl_Total,Einbruchdiebstahl_Versucht,Einschleichdiebstahl_Versucht,Einbruchdiebstahl_Vollendet,Einschleichdiebstahl_Vollendet
count,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000,2213.000000
mean,137.177135,2016.014008,1052.146905,5070.907366,6396.454135,10324.815635,7240.699503,4527.622684,2619.110258,376.337551,69797.163127,8146.208315,8569.277903,43.617262,10.909173,16.886127,0.654315,26.731134,10.254858
std,86.801515,3.741692,1226.716865,14177.155998,18506.317773,31040.214780,20139.768981,12344.181719,7451.196628,1151.778703,21513.504461,3788.946610,12693.910439,87.879404,20.502974,34.186975,1.508947,54.466129,19.411671
min,1.000000,2010.000000,62.000000,58.000000,43.000000,56.000000,77.000000,26.000000,18.000000,0.000000,9634.000000,2067.000000,306.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,62.000000,2013.000000,258.900000,306.000000,316.000000,385.000000,497.000000,319.000000,123.000000,10.000000,59931.000000,5389.000000,1959.000000,4.000000,1.000000,1.000000,0.000000,2.000000,1.000000
50%,121.000000,2016.000000,577.800000,737.000000,765.000000,958.000000,1113.000000,745.000000,297.000000,25.000000,64779.000000,7365.000000,4661.000000,14.000000,4.000000,5.000000,0.000000,8.000000,3.000000
75%,218.000000,2019.000000,1243.500000,1568.000000,1630.000000,2083.000000,2306.000000,1594.000000,776.000000,77.000000,72022.000000,9891.000000,9447.000000,37.000000,10.000000,14.000000,1.000000,24.000000,10.000000
max,298.000000,2022.000000,4855.400000,59876.000000,75261.000000,127463.000000,83171.000000,48958.000000,30551.000000,4670.000000,581506.000000,45276.000000,115129.000000,783.000000,213.000000,311.000000,29.000000,503.000000,208.000000

Check if there are any empty values in the columns and how many unique values we can find within the table

In [16]:
df_unique.isnull().sum()

BFS_NR                                                    0
Gemeindename                                              0
Jahr                                                      0
Einwohner_pro_Quadratkilometer                            0
Einwohner 0-14 Jahre alt                                  0
Einwohner 15-29 Jahre alt                                 0
Einwohner 30-44 Jahre alt                                 0
Einwohner 45-59 Jahre alt                                 0
Einwohner 60-74 Jahre alt                                 0
Einwohner 75-89 Jahre alt                                 0
Einwohner 90-104 Jahre alt                                0
durchschnittliches_steuerbares_Einkommen_pro_Einwohner    0
Finanzvermoegen_pro_Einwohner                             0
Einwohner                                                 0
Einbruchdiebstahl_Total                                   0
Einschleichdiebstahl_Total                                0
Einbruchdiebstahl_Versucht                                0
Einschleichdiebstahl_Versucht                             0
Einbruchdiebstahl_Vollendet                               0
Einschleichdiebstahl_Vollendet                            0
dtype: int64

In [17]:
df_unique.nunique()

BFS_NR                                                     159
Gemeindename                                               159
Jahr                                                        13
Einwohner_pro_Quadratkilometer                            1871
Einwohner 0-14 Jahre alt                                  1274
Einwohner 15-29 Jahre alt                                 1278
Einwohner 30-44 Jahre alt                                 1405
Einwohner 45-59 Jahre alt                                 1426
Einwohner 60-74 Jahre alt                                 1252
Einwohner 75-89 Jahre alt                                  940
Einwohner 90-104 Jahre alt                                 250
durchschnittliches_steuerbares_Einkommen_pro_Einwohner    2000
Finanzvermoegen_pro_Einwohner                             1867
Einwohner                                                 1989
Einbruchdiebstahl_Total                                    272
Einschleichdiebstahl_Total                                 107
Einbruchdiebstahl_Versucht                                 157
Einschleichdiebstahl_Versucht                               15
Einbruchdiebstahl_Vollendet                                202
Einschleichdiebstahl_Vollendet                             105
dtype: int64